<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    
    <form method="POST" action="/salvar">
        <fieldset>
            <legend>Newletter</legend>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email">
            </div>

            <input type="submit" value="salvar">
        </fieldset>
    </form>

</body>
</html>